rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // This rule allows anyone on the internet to view, edit, and delete
    // all data in your Firestore database.
    // ONLY USE THIS IN DEVELOPMENT
    match /{document=**} {
      allow read, write;
    }
  }
}
